body{background-color:#E0FFFF;
     }
    
p{text-align:center;}
    
li{ font-size:30px;
    color:#008080;}
h1{
    font-style:oblique;
	font-size:65px;
    text-align: center;
}
h2{
    font-style:oblique;
	font-size:65px;
    text-align: center;
}
a{
    font-size:40px;
}
